<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.shpDao.JsonRecordMapper">
    <resultMap id="JsonRecordResultMap" type="njnu.edu.back.pojo.JsonRecord">
    <id column="id" property="id"/>
    <result column="shp_name" property="shpName"/>
    <result column="json_name" property="jsonName"/>
    <result column="json_address" property="jsonAddress"/>
    <result column="shp_address" property="shpAddress"/>
    <result column="shp_pinyin_name" property="shpPinYinName"/>
    </resultMap>
    <select id="QueryByName" resultMap="JsonRecordResultMap">
select * from jsonrecord where shp_name=#{name};
    </select>
</mapper>