<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.main.FolderMapper">
    <select id="findListById">
        select id, folder_name as "folderName", parent_id as "parentId", address from folders
        <foreach collection="list" item="item" open="where id::text in (" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <delete id="batchDelete">
        delete from folders
        <foreach collection="list" item="item" open="where id::text in (" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="findByParentId" resultType="java.util.Map">
        select id, folder_name as "folderName", parent_id as "parentId", address from folders where parent_id = #{parentId}
    </select>

    <select id="findById" resultType="java.util.Map">
        select id, folder_name as "folderName", parent_id as "parentId", address from folders where id::text = #{id}
    </select>
</mapper>