<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.main.ShipBinaryMapper">
    <resultMap id="ShipBinaryResultMap" type="njnu.edu.back.pojo.ShipBinary">
        <result column="mmsi" property="mmsi"/>
        <result column="lon" property="lon"/>
        <result column="lat" property="lat"/>
        <result column="rot" property="rot"/>
        <result column="len" property="len"/>
        <result column="len" property="len"/>
        <result column="zoom" property="zoom"/>
    </resultMap>
<!--    <insert id="addShipBinary" parameterType="njnu.edu.back.pojo.ShipBinary">-->
<!--        insert into ship_binary values(#{mmsi}, #{time}, #{zoom}, #{shipBinary});-->
<!--    </insert>-->
</mapper>