<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.main.ShipMapper">
    <resultMap id="ShipResultMap" type="njnu.edu.back.pojo.Ship">
        <result column="id" property="id"/>
        <result column="mmsi" property="mmsi"/>
        <result column="date" property="date"/>
        <result column="zoom" property="zoom"/>
        <result column="code" property="code"/>

    </resultMap>
<!--    <insert id="addShipBinary" parameterType="njnu.edu.back.pojo.ShipBinary">-->
<!--        insert into ship_binary values(#{mmsi}, #{time}, #{zoom}, #{shipBinary});-->
<!--    </insert>-->
    <select id="QueryCode" resultType="java.util.HashMap">
        select code from  ship ;
    </select>

</mapper>