<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.main.UploadRecordMapper">
    <insert id="addUploadRecord" parameterType="njnu.edu.back.pojo.UploadRecord">
        <if test="uploadRecord.id != null">
            insert into upload_record values (#{uploadRecord.id}::uuid, #{uploadRecord.fileName}, #{uploadRecord.uploader}, now(), #{uploadRecord.size});
        </if>
        <if test="uploadRecord.id == null">
            insert into upload_record values (default, #{uploadRecord.fileName}, #{uploadRecord.uploader}, now(), #{uploadRecord.size});
        </if>
    </insert>

    <select id="getRecords" resultType="java.util.HashMap">
        select id, file_name as "fileName", uploader, upload_time as "uploadTime", size from upload_record where uploader = #{email} order by upload_time desc;
    </select>

    <delete id="delRecord">
        delete from upload_record where id::text = #{id};
    </delete>

    <delete id="delAll">
        delete from upload_record
    </delete>
</mapper>