<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="njnu.edu.back.dao.main.UserMapper">
    <resultMap id="UserResultMap" type="njnu.edu.back.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="roles" property="roles" typeHandler="njnu.edu.back.common.utils.ArrayTypeHandler"/>
        <result column="avatar" property="avatar"/>
        <result column="occupation" property="occupation"/>
        <result column="department" property="department"/>
        <result column="contact_email" property="contactEmail"/>
    </resultMap>
    <select id="getUserByEmail" resultMap="UserResultMap">
        select * from users where email = #{email};
    </select>

    <insert id="addUser" parameterType="njnu.edu.back.pojo.dto.AddUserDTO">
        insert into users values (default, #{name}, #{email}, #{password}, #{roles, typeHandler = njnu.edu.back.common.utils.ArrayTypeHandler})
    </insert>

    <select id="updateUserInfo" parameterType="njnu.edu.back.pojo.User" resultMap="UserResultMap">
        update users set name = #{name}, contact_email = #{contactEmail}, occupation = #{occupation}, department = #{department}, avatar=#{avatar} where email = #{email} returning *;
    </select>

    <select id="updateUserInfoWithoutAvatar" parameterType="njnu.edu.back.pojo.User" resultMap="UserResultMap">
        update users set name = #{name}, contact_email = #{contactEmail}, occupation = #{occupation}, department = #{department} where email = #{email} returning *;
    </select>

    <select id="getAvatarURL" resultType="java.lang.String">
        select avatar from users where email = #{email}
    </select>
</mapper>