<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.main.VisualFileMapper">
    <select id="findById" resultType="java.util.Map">
        select id, file_name as "fileName", type, content from visual_file where id::text = #{id}
    </select>

</mapper>