<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.ship.ShipMapper">
    <select id="getShipInfoByMMSI" resultType="java.util.Map">
        select * from ship where mmsi = #{mmsi}
    </select>

    <select id="pageQuery" resultType="java.util.Map">
        select * from ship
        <if test="keyword != 'all'">
            where mmsi like #{keyword} or cbmc like #{keyword}
        </if>
        limit #{size} offset #{start}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from ship
        <if test="keyword != 'all'">
            where mmsi like #{keyword} or cbmc like #{keyword}
        </if>
    </select>
</mapper>