<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.monitor.SectionMapper">
    <select id="getAllSection" resultType="java.util.HashMap">
        select name, start_lon as "startLon", start_lat as "startLat", end_lon as "endLon", end_lat as "endLat" from section
    </select>
</mapper>