<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.FileMapper">
    <insert id="addFile" parameterType="njnu.edu.back.pojo.dto.AddFileDTO">
        insert into files values(#{id}::uuid, #{name}, #{address}, #{fileName}, #{level}, #{parentId}, now(), #{uploader}, #{meta}, #{folder}, #{size});
    </insert>

    <select id="findByLevel" resultType="java.util.HashMap">
        select * from files where level = #{level} and uploader = #{email};
    </select>

    <select id="findByParentId" resultType="java.util.HashMap">
        select * from files where parent_id = #{parentId};
    </select>

    <update id="rename">
        update files set name = #{name} where id::text = #{id};
    </update>

    <delete id="delete">
        delete from files where id::text = #{id};
    </delete>

    <delete id="deleteFolder">
        with recursive temp_files as (
            select * from files where id::text = #{id}
            union
            select f.* from files f
            inner join temp_files on temp_files.id::text = f.parent_id
        ) delete from files where id in (select id from temp_files);
    </delete>

    <select id="recursionFindFiles" resultType="java.util.HashMap">
        with recursive temp_files as (
            select * from files where id::text = #{id}
            union
            select f.* from files f
            inner join temp_files on temp_files.id::text = f.parent_id
        ) select * from temp_files where folder = false and address not in (select origin_address from share_files);
    </select>

    <select id="findById" resultType="java.util.HashMap">
        select * from files where id::text = #{id};
    </select>

    <select id="findDeleteById" resultType="java.util.HashMap">
        select * from files where id::text = #{id} and address not in (select origin_address from share_files);
    </select>
</mapper>