<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.MessageMapper">
    <resultMap id="MessageResultMap" type="njnu.edu.back.pojo.Message">
        <id column="id" property="id"/>
        <result column="data_name" property="dataName"/>
        <result column="data_upload_time" property="dataUploadTime"/>
        <result column="data_examine_time" property="dataExamineTime"/>
        <result column="data_cache" property="dataCache"/>
        <result column="message_request" property="messageRequest"/>
        <result column="reply" property="reply"/>
        <result column="file_id" property="fileId"/>
        <result column="message_sender" property="messageSender"/>
        <result column="message_receiver" property="messageReceiver"/>
        <result column="message_response" property="messageResponse"/>
        <result column="message_type" property="messageType"/>
        <result column="reply_user" property="replyUser"/>

        <!--应该与数据库字段顺序一一对应-->
    </resultMap>
    <insert id="addMessage" parameterType="njnu.edu.back.pojo.dto.AddMessageDTO">
        insert into message
        values (#{id}::uuid,#{dataName}, now(), #{dataExamineTime}, #{dataCache}, #{messageRequest}, #{reply}, #{fileId},
                #{messageSender}, #{messageReceiver},
                #{messageResponse}, #{messageType},#{replyUser});
    </insert>

    <insert id="addResponseMessage" parameterType="njnu.edu.back.pojo.dto.AddMessageDTO">
        insert into message
        values (#{id}::uuid,#{dataName}, #{dataUploadTime}, now(), #{dataCache}, #{messageRequest}, #{reply}, #{fileId},
                #{messageSender}, #{messageReceiver},
                #{messageResponse}, #{messageType},#{replyUser});
    </insert>


    <select id="pageQueryDESC" resultMap="MessageResultMap">
        select *
        from message
        where reply=false
        order by ${property} desc limit #{size}
        offset #{start};
    </select>

    <select id="pageQueryASC" resultMap="MessageResultMap">
        select *
        from message
        order by ${property} asc limit #{size}
        offset #{start};
    </select>

    <select id="QueryByType" resultMap="MessageResultMap">
        select *
        from message
        where message_response = #{property};
    </select>

    <select id="QueryByUser" resultMap="MessageResultMap">
        select name,
        from message
        where message_receiver = #{property}
          and message_response = #{type};
    </select>

    <select id="QueryByReceiver" resultMap="MessageResultMap">
        select data_name
        from message
        where message_receiver = #{property};
    </select>

    <select id="QueryByTime" resultMap="MessageResultMap">
        select *
        from message
        where data_upload_time is not null
          and file_id = #{property}
        order by data_upload_time desc limit 1;
    </select>

    <select id="QueryByUserEmail" resultMap="MessageResultMap">
        select *
        from message
        where message_receiver = #{email} and reply_user=false
        order by data_upload_time desc
    </select>

    <select id="QueryByUserType" resultMap="MessageResultMap">
        select *
        from message
        where message_response = #{property} and message_receiver = #{email} and reply_user=false;
    </select>

    <update id="offlineMessage">
        update message set reply = true where file_id = #{property} and message_receiver = #{email} and data_upload_time=#{dataUploadTime} ;
    </update>

    <update id="offlineUserMessage">
        update message set reply_user = true where file_id = #{property} and message_receiver = #{email} and data_upload_time=#{dataUploadTime} ;
    </update>

    <select id="QueryHistoryMessage" resultMap="MessageResultMap">
        select *
        from message
        where  message_receiver = #{email} and reply_user=true;
    </select>

    <select id="QueryAllHistoryMessage" resultMap="MessageResultMap">
        select *
        from message
        where   reply=true;
    </select>

    <select id="showMessageDetails" resultMap="MessageResultMap">
        SELECT sf.*,m.*
        FROM public.share_files sf, public.message m
        where sf.id::text = m.file_Id and m.id=#{property};
    </select>

    <update id="responseMessage">
        update message set message_response = #{response} , data_examine_time=now() where id::text = #{id} ;
    </update>

    <select id="countReply" resultType="java.lang.Integer">
        select count(*)  from message where reply=false ;
    </select>

    <select id="countUserReply" resultType="java.lang.Integer">
        select count(*)  from message where replyUser=false and messahe_receiver=#{email} ;
    </select>
</mapper>