<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.ProjectMapper">

    <select id="addProject" parameterType="njnu.edu.back.pojo.dto.AddProject" resultType="java.util.HashMap">
        insert into projects values(default, #{projectName}, #{creator}, #{description}, now(), #{result}, #{avatar}) returning *;
    </select>

    <select id="getResult" resultType="java.lang.String">
        select result from projects where id = #{id}
    </select>
    
    <select id="getProjectsByEmail" resultType="java.util.HashMap">
        select id, project_name as "projectName", description as des, create_time as "createTime", avatar, result from projects where creator = #{email} order by create_time;
    </select>

    <update id="setResult">
        update projects set result = #{result} where id = #{id};
    </update>

    <select id="getResultByEmailAndProjectName" resultType="java.lang.String">
        select result from projects where creator = #{email} and project_Name = #{projectName};
    </select>

    <select id="pageQuery" resultType="java.util.HashMap">
        select projects.*, users.name from projects, users where projects.creator=users.email order by projects.create_time desc limit #{size} offset #{start};
    </select>

    <select id="findProjectById" resultType="java.util.HashMap">
        select * from projects where id = #{id};
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from projects;
    </select>

</mapper>