<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.ShareFileMapper">
    <resultMap id="ShareFileResultMap" type="njnu.edu.back.pojo.ShareFile">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="origin_address" property="originAddress"/>
        <result column="visual_source" property="visualSource"/>
        <result column="visual_type" property="visualType"/>
        <result column="structured_source" property="structuredSource"/>
        <result column="tags" property="tags" typeHandler="njnu.edu.back.common.utils.ArrayTypeHandler"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="meta" property="meta"/>
        <result column="download" property="download"/>
        <result column="watch" property="watch"/>
        <result column="update_time" property="updateTime"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <insert id="addShareFile" parameterType="njnu.edu.back.pojo.ShareFile">
        insert into share_files values(default, #{name}, #{description}, #{originAddress}, #{visualSource}, #{visualType}, #{structuredSource}, #{tags, typeHandler = njnu.edu.back.common.utils.ArrayTypeHandler}, #{creator}, now(), #{meta}, #{download}, #{watch}, now(), #{avatar});
    </insert>

    <select id="pageQueryOrderByDownload" resultMap="ShareFileResultMap">
        select * from share_files order by download desc limit #{size} offset #{start};
    </select>

    <select id="pageQueryDESC" resultMap="ShareFileResultMap">
        select * from share_files order by ${property} desc limit #{size} offset #{start};
    </select>

    <select id="pageQueryASC" resultMap="ShareFileResultMap">
        select * from share_files order by ${property} asc limit #{size} offset #{start};
    </select>


    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from share_files;
    </select>

    <select id="getShareFileById" resultMap="ShareFileResultMap">
        select * from share_files where id = #{id}::uuid;
    </select>

    <update id="addWatchCount">
        update share_files set watch = watch + 1 where id = #{id}::uuid;
    </update>

    <update id="addDownload">
        update share_files set download = download + 1 where id = #{id}::uuid;
    </update>

    <select id="getOriginAddressAndGetOnline" resultType="java.util.HashMap">
        select name, origin_address, get_online from share_files, file_meta where share_files.id = #{id}::uuid and file_meta.id = share_files.meta::uuid;
    </select>
</mapper>