<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.VectorRelationshipMapper">
    <select id="pageQuery" resultType="java.util.HashMap">
        select id, file_name as name, meta, upload_time as time, table_name as "tableName", type as "vectorType" from vector_relationship order by id limit #{size} offset #{start};
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from vector_relationship;
    </select>

    <insert id="addVector" parameterType="njnu.edu.back.proj.dto.AddVector">
        insert into vector_relationship values(#{id}::uuid, #{tableName}, #{category}, #{address}, #{meta}, #{fileName}, #{uploader}, now(), #{source}, #{type}) returning id;
    </insert>

    <select id="queryAnalyseVector" resultType="java.util.HashMap">
        select id, file_name as name, meta, upload_time as time, table_name as "tableName", type as "vectorType" from vector_relationship where id = #{id};
    </select>
</mapper>